@import '@style/_variables.scss';

.mx-calendar {
    width: 100%;
}

.mx-datepicker {
    width: 100%;
    .mx-calendar-content {
        .cell {
            &.active {
                background-color: $pink;
            }
            &:hover {
                background-color: rgba($pink, 0.03);
                color: $pink;
                &.active {
                    background-color: $pink;
                    color: #FFF;
                }
            }
        }
    }
    .mx-btn {
        &:hover {
            color: $pink;
        }
    }
    .mx-datepicker-footer {
        .form-check {
            .form-check-label {
                font: 14px/1.5 "Helvetica Neue", Helvetica,Arial, "Microsoft Yahei", sans-serif;
                color: #73879c;
            }
        }
    }
}