@import '@style/_variables.scss';
@import '@style/_mixins.scss';

.form-control {
    display: block;
    height: 45px;
    width: 100%;
    color: $dark-gray;
    font-family: $open-sans-regular;
    padding: 6px 12px;
    border: 1px solid $bright-gray;
    outline: none;
    font-size: 0.9rem;
    border-radius: 0px;
    transition: all 0.3s;
    &.placeholder-dark {
        &::placeholder {
            color: $dark-gray;
        }    
    }
    &::placeholder {
        color: $bright-gray;
    }
    &:focus {
        border-color: $pink;
        box-shadow: 0px 0px 4px 0px $bright-gray;
    }
}

textarea {
    resize: none;
    min-height: 80px;
}

.form-group-row {
    display: grid;
    margin-left: -0.375rem;
    margin-right: -0.375rem;
    grid-template-columns: 50% 50%;
    @media (max-width: $screen-md) {
        display: block;
    }
    .form-group {
        margin-left: 0.375rem;
        margin-right: 0.375rem;
    }
}

.form-group {
    margin-bottom: $space-4;
    label {
        font-size: 1.1rem;
        font-family: $titilium-semibold;
        margin-bottom: $space-4;
        color: #666666;
    }
    .form-error {
        margin-top: $space-2;
        margin-bottom: 0;
        color: $danger;
        font-size: 0.9rem;
    }
    .form-check {
        text-align: left;
        .form-check-input {
            width: 40px;
            height: 20px;
            border-color: $brightish-gray;
            border-width: 2px;
            transition: 0.3s;
            cursor: pointer;
            &:checked {
                background-color: $pink;
                border-color: $pink;
            }
            &:focus {
                box-shadow: none;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
                &:checked {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
                }
            }
            &:active {
                filter: none;
            }
        }
        .form-check-label {
            position: relative;
            top: 4px;
            font-size: 0.9rem;
            font-family: $open-sans-regular;
            margin-bottom: 0;
            color: $darkish-gray;
            margin-left: $space-4;
            cursor: pointer;
        }
    }
    .experience-form-duties-list {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            position: relative;
            margin-bottom: $space-2;
            padding: $space-2 $space-4;
            box-shadow: 0px 0px 4px 0px $bright-gray;
            &:last-of-type {
                margin-bottom: $space-4;
            }
            span {
                font-size: 0.9rem;
                margin-right: 20px;
            }
            i {
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 1.2rem;
                color: $dark-gray;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    color: $pink;
                }
            }
        }
    }
}