@import '@style/_fonts.scss';

$pink: #F2184F;
$dark-gray: #555;
$darkish-gray: #999;
$bright-gray: #CCCCCC;
$brightish-gray: #ededed;
$orange: #ff853f;
$danger: #dc3545;
$success: #3eb655;

$open-sans-regular: 'Open-Sans-Regular', sans-serif;
$open-sans-light: 'Open-Sans-Light', sans-serif;
$open-sans-semibold: 'Open-Sans-Semibold', sans-serif;

$titilium-regular: 'TitilliumWeb-Regular', sans-serif;
$titilium-semibold: 'TitilliumWeb-SemiBold', sans-serif;

$raleway-regular: 'Raleway-Regular', sans-serif;
$raleway-bold: 'Raleway-Bold', sans-serif;
$raleway-light: 'Raleway-Light', sans-serif;
$raleway-semibold: 'Raleway-SemiBold', sans-serif;

$space-1: 0.25rem;
$space-2: 0.5rem;
$space-4: 1rem;
$space-6: 1.5rem;
$space-8: 2rem;

